*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar{
    height: 60px;
    background-color: #052903;
    color: white;
    display:flex;
    top:0;
    position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("amazon+logo.jpg");
    background-size: cover;
    height: 50px;
    width:100%;
}
.border{
    border:2px solid transparent;

}
.border:hover{
    border:1.5px solid white;
}

/*  box 2 */

.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 23px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display:flex;
    align-items: center;
}

/* box3 */

.nav-search{
    display: flex;
    background-color: blue;
    width:1212px;
    height:40px;
    border-radius: 3px;
    justify-content: space-evenly;
}

.select-search{
    background-color: rgb(223, 217, 217);
    width:50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
}
.input-search{
    width:100%;
    font-size: 1rem;
    border:none;
    background-color: white;
    
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    background-color: #870c5e;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-eng{
    font-size: 2.5rem;
    display:flex;
    justify-content: center;
    background-color:hsl(137, 58%, 20%) ;
}
span {
    font-size:0.75rem;
}
.two{
    font-size:0.85rem;
    font-weight: 700;
}
.nav-search:hover{
    border: 2px solid rgb(241, 113, 134)

}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* now panel*/

.panel{
    display: flex;
    background-color:#224b20; 
     color: white;
     height:40px;
     margin-top: 42px;
     align-items: center;
}

.panel-ops p{
    display: inline;
    margin-right: 25px;
}
.panel-all{
    font-weight: 700;
    margin-right: 25px;
    margin-left: 20px;
}
p:hover{
    border: 1.5px solid white;
}

.hero_section{
    background-image: url("hero\ pic.jpg");
    background-size: cover;
    height:320px;
    width:1500px; 
    margin:0px 210.5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero_msg{
    background-color: white;
    height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.85rem;
   width:97.5%;
   margin-bottom: 25px;;
}
.hero_msg a{
    color: #2162A1;
}

/* for main content*/
.shop{
    display:flex;
   height:600px;
    width:1500px; 
    margin:0px 210.5px;
    justify-content: space-evenly;
    background-color: #d6eed5;
    

}
.box{
    
    height:400px;
    
    width:35%;
    margin:-10px 10px 10px 10px;
    justify-content: center;
    background-color: white;
    
    
}
.product_boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    
}

.box_img_container{
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
    margin-top: 10px;
}

.box_img{
    height: 120px;
    width: 160px;
    background-size: cover;
    position: relative;
    
}

h2{
    font-size: 21px;
    margin-top: 20px;
    margin-left: 20px;
}
.shop p{
    display: inline-block;
    justify-content: space-evenly;
    text-align: left;
}
.text{
    text-align: left;
}
.single_box{
    background-size: cover;
    margin-left:17px ;
    margin-top: 10px;
    height:300px;
    width:91%;
}
.shop pre{
    font-size: 13px;
    text-align: left;
    margin-left: -25px;
   
    color:#2162A1;
}
.shop2{
    display:flex;
   height:600px;
    width:1500px; 
    margin:-180px 210.5px;
    justify-content: space-evenly;
    background-color: #d6eed5;
}
.shop2 pre{
    font-size: 13px;
    text-align: left;
    margin-left: -25px;
   
    color:#2162A1;
}
.bottom-bar{
    width:100%;
    height:50px;
    background-color:rgba(35, 47, 62, 0.75);
    margin-bottom: 0%;
    
}
.bottom-bar pre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 13px;
}
.bottom{
    background-color: #25303f;
    color: white;
    height:350px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.bottom div{
    display:inline-block;
    justify-content: center;
    margin-left: 200px;
    margin-top: 20px;

}
.bottom pre{
    display: block;
    font-size: smaller;
}
.bottom h6{
    font-weight: 700;
    font-size: 17px;
}
.last{
    height: 200px;
    width: 100%;
    background-color: #25303f;
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    color: white;
    background-color:#25303f ;
    padding: 5px 5px 5px 5px;
    size: 75px;
    border: 1px solid white;
    margin-right: 7px;
}
.lastt{
    width:100%;
    height: 100px;
    background-color:#18191b;
    display: flex;
    color: white;
    font-size: small;
    justify-content: center;
    align-items: center;
}
.lastt h6{
    font-weight: 700;
    font-size: 12px;
}